@model Backend4.Models.SignUpPasswordViewModel
@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up</h2>

<form asp-action="SignUpCredentials" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="@Model.FirstName" type="hidden" />
    <input asp-for="@Model.LastName" type="hidden" />
    <input asp-for="@Model.BirthdayDay" type="hidden" />
    <input asp-for="@Model.BirthdayMonth" type="hidden" />
    <input asp-for="@Model.BirthdayYear" type="hidden" />
    <input asp-for="@Model.Gender" type="hidden" />
    <input asp-for="@Model.Existed" type="hidden" />
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input asp-for="@Model.Email" type="text" class="form-control" />
            <span asp-validation-for="@Model.Email"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="@Model.Password" type="password" class="form-control" />
            <span asp-validation-for="@Model.Password"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="@Model.ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label asp-for="@Model.Remember">
                    <input asp-for="@Model.Remember" type="checkbox" />
                    Remember?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Complete sign up</button>
        </div>
    </div>
</form>